In [4]:
import os, json
import pandas as pd

path_to_json = 'Data/AAPL'
json_files = [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]

In [8]:
pd.set_option('display.max_colwidth',100)
pd.set_option('display.max_rows',1000)

In [104]:
def append_all_json_data(folderPath: str, list_of_jsons) -> pd.DataFrame:
    df = pd.DataFrame()
    for element in list_of_jsons:
        full_path = folderPath+"/"+element
        #print (full_path)
        
        
        df = df.append(pd.read_json(full_path))
    return df

In [105]:
nd = append_all_json_data(path_to_json,json_files)

ValueError: columns overlap but no suffix specified: Index(['id', 'body', 'created_at', 'user', 'source', 'symbols', 'conversation',
       'likes', 'mentioned_users', 'entities', 'links', 'reshares'],
      dtype='object')

In [34]:
new_dataframe = nd.filter(['created_at','body','['user']['username'])

SyntaxError: invalid syntax (<ipython-input-34-384e999bf8ac>, line 1)

In [30]:
new_dataframe.tail(10)

,created_at,body
20,2022-01-26 19:46:52+00:00,$AAPL Treasury ripping
21,2022-01-26 19:46:42+00:00,$AAPL where dying
22,2022-01-26 19:46:36+00:00,$AAPL 155 anyone hello?bulls?
23,2022-01-26 19:46:32+00:00,$AAPL hahaha what morons we live with
24,2022-01-26 19:46:26+00:00,$AAPL rate hike imminent! tech getting slaughtered! YEEHAW!
25,2022-01-26 19:46:16+00:00,$AAPL gonna fall a few more bucks after hours
26,2022-01-26 19:46:10+00:00,$AAPL OI BOIII BOO BOO THE FOO
27,2022-01-26 19:46:10+00:00,"$Aapl was short 3x $147 puts (actually short over 25 puts lmfao) , and i covered. Shorted $146 puts for higher than what i covered the 147s at and this is a W"
28,2022-01-26 19:46:04+00:00,$AAPL 155 anyone..?
29,2022-01-26 19:45:48+00:00,$AAPL WTF just caused that

In [5]:
new_json = pd.read_json('Data/AAPL/401854269.json')

In [6]:
new_json["entities"][2]["sentiment"]["basic"]

'Bullish'

30

In [8]:
df["username"] = new_json["user"][0]["username"]

In [9]:
import yfinance as yf

appl = yf.Ticker("AAPL")
hist = appl.history(period="max")

In [10]:
try:
    x = round(hist.loc['2021-11-6'].Close,3)
except KeyError:
    x = 4
x

4

In [22]:
hist.head(20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-12-12,0.100323,0.100759,0.100323,0.100323,469033600,0.0,0.0
1980-12-15,0.095525,0.095525,0.095089,0.095089,175884800,0.0,0.0
1980-12-16,0.088546,0.088546,0.088110,0.088110,105728000,0.0,0.0
1980-12-17,0.090291,0.090727,0.090291,0.090291,86441600,0.0,0.0
1980-12-18,0.092908,0.093345,0.092908,0.092908,73449600,0.0,0.0
1980-12-19,0.098578,0.099015,0.098578,0.098578,48630400,0.0,0.0
1980-12-22,0.103376,0.103813,0.103376,0.103376,37363200,0.0,0.0
1980-12-23,0.107739,0.108175,0.107739,0.107739,46950400,0.0,0.0
1980-12-24,0.113409,0.113845,0.113409,0.113409,48003200,0.0,0.0
1980-12-26,0.123877,0.124314,0.123877,0.123877,55574400,0.0,0.0
1980-12-29,0.125622,0.126058,0.125622,0.125622,93161600,0.0,0.0
1980-12-30,0.123005,0.123005,0.122569,0.122569,68880000,0.0,0.0
1980-12-31,0.119516,0.119516,0.119080,0.119080,35750400,0.0,0.0
1981-01-02,0.120388,0.121260,0.120388,0.120388,21660800,0.0,0.0
1981-01-05,0.118207,0.118207,0.117771,0.117771,35728000,0.0,0.0
1981-01-06,0.112973,0.112973,0.112536,0.112536,45158400,0.0,0.0
1981-01-07,0.108175,0.108175,0.107739,0.107739,55686400,0.0,0.0
1981-01-08,0.105994,0.105994,0.105558,0.105558,39827200,0.0,0.0
1981-01-09,0.111228,0.111664,0.111228,0.111228,21504000,0.0,0.0
1981-01-12,0.111228,0.111228,0.110356,0.110356,23699200,0.0,0.0

In [12]:
from datetime import timedelta
def subtract_days_from_date(date, days):
    """Subtract days from a date and return the date.
    
    Args: 
        date (string): Date string in YYYY-MM-DD format. 
        days (int): Number of days to subtract from date
    
    Returns: 
        date (date): Date in YYYY-MM-DD with X days subtracted. 
    """
    
    subtracted_date = pd.to_datetime(date) - timedelta(days=days)
    subtracted_date = subtracted_date.strftime("%Y-%m-%d")

    return subtracted_date

In [55]:
def get_stockprice_at_time(day):
    #print(day)
    try:
        val = hist.loc[day].Close
    except KeyError:
        d = subtract_days_from_date(day, 1)
        val = get_stockprice_at_time(d)
        
    return round(val,3)

In [14]:
def get_sentiment(sentimentPath):
    if sentimentPath == None:
        return None
    else:
        return sentimentPath["basic"]

In [15]:
get_sentiment(new_json["entities"][0]["sentiment"])

In [52]:
 df = pd.DataFrame(columns=["time_created","username","message","sentiment","derived_sentiment","stock_price"])

In [56]:
for i in range(new_json.shape[0]):
    ts = new_json["created_at"][i]
    day = str(ts.year)+"-"+str(ts.month)+"-"+str(ts.day)
    df.loc[i]= [new_json["created_at"][i],new_json["user"][i]["username"],new_json["body"][i],get_sentiment(new_json["entities"][i]["sentiment"]),None,get_stockprice_at_time(day)]

In [ ]:
#time_created, username, message, sentiment,derived_sentiment,stock price at that time(close)

In [57]:
df.head(10)

,time_created,username,message,sentiment,derived_sentiment,stock_price
0,2021-11-06 14:34:31+00:00,arya_stark,Distribution of Annual Percentage Change in $S...,None,None,151.088
1,2021-11-06 14:34:21+00:00,All_In_Tesla,$SPY why do we keep saying Wendy is for people...,Bullish,None,151.088
2,2021-11-06 14:17:57+00:00,All_In_Tesla,$SPY this stock market send all bears back to ...,Bullish,None,151.088
3,2021-11-06 14:00:27+00:00,LegalizeCannabisNow,$FSR $LCID $TSLA $AAPL $NIO \nhttps://youtu.be...,Bullish,None,151.088
4,2021-11-06 13:59:20+00:00,LegalizeCannabisNow,$FSR $AAPL $TSLA $LCID $NIO üôã‚òï,Bullish,None,151.088
5,2021-11-06 13:57:52+00:00,Modest_Investor_18,@swingeveryday @Andreas2112 @RichardSimmons1 $...,Bullish,None,151.088
6,2021-11-06 13:44:11+00:00,psatiani1982,$AAPL Markets are positioned to rally into yea...,None,None,151.088
7,2021-11-06 13:42:03+00:00,Anthony266,$AAPL fhhdsnnsnsbs,None,None,151.088
8,2021-11-06 13:40:50+00:00,HitAHomerun,$AAPL I‚Äôll never sell my shares‚Ä¶..,Bullish,None,151.088
9,2021-11-06 13:39:34+00:00,hoyasaxa1978,$AAPL üçè Finally!,None,None,151.088

In [35]:
ts = df['time_created'][4]
day = str(ts.year)+"-"+str(ts.month)+"-"+str(ts.day)
price = get_stockprice_at_time(day)
price

2021-11-6
2021-11-05

151.088

In [48]:
get_stockprice_at_time('2021-11-08')

2021-11-08

150.249

In [82]:
date_subtraction_example = subtract_days_from_date('2021-11-06', 1)
date_subtraction_example

'2021-11-05'

In [177]:
df['time_created']= pd.to_datetime(df['time_created'])

In [180]:
df.dtypes

time_created    datetime64[ns, UTC]
username                     object
dtype: object