In [10]:
import pandas as pd

data = [['tom', 10], ['nick', 15], ['juli', 14]]
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])
df.head()

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [11]:
df.columns = ["N","A"]

In [12]:
df.head()

      N   A
0   tom  10
1  nick  15
2  juli  14

In [16]:
df.drop("A", axis=1, inplace=True)

In [18]:
df.head()

      N
0   tom
1  nick
2  juli

In [21]:
print(df.iloc[0:2])

      N
0   tom
1  nick

In [25]:
import numpy as np

print(df.sort_values("N",ascending=True))

      N
2  juli
1  nick
0   tom

In [26]:
x = np.array([2.2, 0.9, 4.4, 6.7, 2.8, 3.2, 1.1, 3.5])
x_var = np.var(x)
x_stdev = np.std(x)
print('Variance: {:4.2f}'.format(x_var))
print('Std Deviation: {:4.2f}'.format(x_stdev))

Variance: 3.07
Std Deviation: 1.75

In [27]:
import seaborn as sns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N       3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [33]:
print(df['N'].head())

0     tom
1    nick
2    juli
Name: N, dtype: object